<% @page_title = "Search results" %>

<% if not @books.empty? %>
  <ol class="booklist">
    <%= render :partial => "books/book", :collection => @books %>
  </ol>
<% else%>
  <p>
    Sorry, nothing was found.
  </p>
<% end%>
