<% @page_title = "Результаты поиска" %>

<% if not @books.empty? %>
  <ol class="booklist">
    <%= render :partial => "books/book", :collection => @books %>
  </ol>
<% else%>
  <p>
    Извините, по вашему запросу нечего не найдено.
  </p>
<% end%>
