<%
  @page_title = 'Редактирование книги'
  @include_js = 'books'
%>


<% form_for(@book) do |f| %>
  <%= render :partial => 'fields', :locals => { :f => f }  %>

  <p>
    <%= f.submit "Обновить" %>
  </p>
<% end %>

<%= link_to 'Показать', @book %> |
<%= link_to 'Назад', books_path %>
