<%
  @page_title = 'Editing book'
  @include_js = 'books'
%>


<% form_for(@book) do |f| %>
  <%= render :partial => 'fields', :locals => { :f => f }  %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
