<% 
  @page_title = 'Добавление книги'
  #@include_js = 'books'
%>

<% form_for(@book) do |f| %>
  <%= render :partial => 'fields', :locals => { :f => f }  %>

  <p>
    <%= f.submit "Добавить" %>
  </p>
<% end %>

<%= link_to 'Назад', books_path %>
